@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.inter {
    font-family: 'Inter', sans-serif !important;
    font-weight: 400;
}

.cinzel {
    font-family: 'Cinzel', serif !important;
    font-weight: 400;
}